@media all and (min-width: 1024px) {
body{
	width:1200px !important;
	margin:0px auto !important;
	background-color: lightgrey!important;
}
.firstHeader{
	text-align:center;
	font-weight:bold;
	margin-bottom:20px;
	font-size:20px;
	cursor:default;
}
.secondHeader{
	text-align:center;
	font-weight:bold;
	margin-left:10px;
	margin-bottom:30px;
	font-size:20px;
	cursor:default;
}
.siteContainer{
  float: left;
}
#lightControllerDiv{
  text-align: center;
  width: 1000px;
  margin-left: 150px;
}
.lightInfoDiv{
	margin: 10px;
	background-color: #F8F8F8;
	padding:5px;
	padding-top: 5px;
	padding-bottom: 20px;
	width: 262px;
	display:inline;
	float: left;
	margin-right:10px;
	margin-bottom:10px;
}

.lightInfoDivCollapsed:hover,.lightInfoDiv:hover{
	background-color: #99FFFF;
	cursor:pointer;
}

.lightInfoDivCollapsed{
	background-color:#F8F8F8;
	padding-top: 17px;
	padding: 5px;
	width: 262px;
	padding-bottom: 12px;
	display:inline;
	float: left;
	margin-right:10px;
	margin-bottom:10px;
}
.itemName{
	font-weight:bold;
	font-size: 20px;
	padding: 4px;
	width: 200px;
	margin:0px auto;
	margin-top: 0px;
	color: black;
	text-align: center;
}

.lightState{
	min-height: 36px;
}

.lightSwitch{
	margin-left: 60px;
	margin-top: 24px;
	display:inline;
}
.groupSwitch{
	float:left;
	margin-left: 350px;
	margin-top: 24px;
	margin-bottom:20px;
	display:inline;
}

.colorPanel{
   border: 3px solid darkgrey;
   /* background-color: lightgrey; */
   float:left;
   margin-top:15px;
   margin-left: 23px;
   /* padding: 5px; */
   padding-right:0px;
   /* width: 239px; */
   overflow:auto;
   /* border-radius: 18px; */
}

.swatch{
	width: 29px;
    
	height: 29px;
    
    
	/* border-radius:3em; */
    float:left;
    
	/* margin:2px; */
    
	/* margin-right:5px; */
    cursor: pointer;
    display:block;
	/* margin-right: 0px; */
}
.swatch:hover{
	border:2px solid black;
}

.red{
	background-color: red;
}
.orange{
	background-color: #FFA500;
}
.yellow{
	background-color: #FFFF00;
}
.green{
	background-color: #00FF00;
}
.blue{
	background-color: #0000FF;
}
.purple{
	background-color: #FF00FF;
}
.white{
	background-color: white;
}

.colorIcon{
	cursor:pointer;
	margin-left: 25px;
	float: left;
	margin-top: 13px;
	padding:3px 5px !important;
	display:inline;
}
.colorIconImg{
	height:40px;
	width:40px;
}

.btn{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	border-radius:30px !important;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.btn:active {
	position:relative;
	top:1px;
}

.bulb{
	height: 67px;
	width: 80px;
	margin-top: 0px;
}

.lightStateCollapsed>div{
	display: none;
}

.lightState input#brightSlider{
	display: inline;
}

#brightSlider{
	display: none;
	float:left;
	overflow:auto;
	margin-top:15px;
	max-width: 200px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.wemoContainer{
  background-color: #F8F8F8;
  padding: 5px;
  padding-top: 10px;
  width: 200px;
  margin-left: 375px;
  padding-bottom: 40px;
  display:inline;
  float:left;
}

.wemoContainer:hover{
	background-color: #99FFFF;
	cursor:pointer;
}

.ac{
	opacity:.1;
	margin-left:10px;
}

#bottomContainer{
	text-align:center;
	width: 1150px;
	margin:0px auto;
	padding-bottom: 30px
}

.dimnessIcon{
	width:10px;
	height:10px;
	display:inline;
	float:left;
	margin-top:16px;
	margin-left:12px;
	margin-right:5px
}

.brightnessIcon{
	width:10px;
	height:10px;
	display:inline;
	float:left;
	margin-top:17px;
	margin-left:7px;
}

}

@media all and (max-width: 1024px) {
.firstHeader{
	margin-left:200px;
	font-weight:bold;
}
.secondHeader{
	font-weight:bold;
}
.siteContainer{
  float: left;
  margin: 0px auto;
  width: 350px;
  text-align: center;
}

#lightControllerDiv{
	text-align:center;
	float:left;
	margin-bottom:10px;

}
.lightInfoDiv{
	margin: 10px;
	background-color: grey;
	padding: 5px;
	/* padding-top: 5px; */
	/* padding-bottom: 77px; */
	width: 470px;
	min-height: 320px;
}
.lightInfoDivCollapsed{
	margin: 10px;
	margin-bottom: 9px;
	background-color:grey;
	padding-top: 17px;
	padding: 5px;
	width: 470px;
	padding-bottom: 12px;
	min-height:200px;
}
.itemName{
	font-weight:bold;
	font-size: 27px;
	/* -webkit-text-stroke: 1px white; */
	padding: 4px;
	width: 300px;
	margin:0px auto;
	margin-top: 0px;
	/* border-radius: 34px; */
	color: white;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
	text-align: center;
}

.lightState{
	min-height: 36px;
}

.lightSwitch{
	float:left;
	margin-left: 90px;
	margin-top: 50px;
}
.groupSwitch{
	float:left;
	margin-left: 80px;
	margin-top: 49px;
}
.colorPanel{
   border: 3px solid darkgrey;
   /* background-color: lightgrey; */
   float:left;
   margin-top:15px;
   margin-left: 53px;
   /* padding: 5px; */
   padding-right:0px;
   /* width: 239px; */
   overflow:auto;
   /* border-radius: 18px; */
}

.swatch{
	width: 50px;  
	height: 50px;
    float:left;
    cursor: pointer;
    display:block;
}
.swatch:hover{
	border:2px solid black;
}

.red{
	background-color: red;
}
.orange{
	background-color: #FFA500;
}
.yellow{
	background-color: #FFFF00;
}
.green{
	background-color: #00FF00;
}
.blue{
	background-color: #0000FF;
}
.purple{
	background-color: #FF00FF;
}
.white{
	background-color: white;
}
.colorIcon{
	cursor:pointer;
	margin-left: 25px;
	float: left;
	margin-top: 22px;
	padding:3px 5px !important;
}
.colorIconImg{
	height: 100px;
	width: 100px;
}

.btn{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	border-radius: 52px !important;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.btn:active {
	position:relative;
	top:1px;
}

.bulb {
  height: 100px;
  width: 150px;
  margin-top: 26px;
}

.lightStateCollapsed>div{
	display: none;
}

.lightState input#brightSlider{
	display: inline;
}

#brightSlider{
	display: none;
	float:left;
	overflow:auto;
	margin-top:36px;
	max-width: 200px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.wemoContainer{
  margin: 10px;
  background-color: grey;
  padding: 5px;
  padding-top: 10px;
  /* width: 412px; */
  margin-left: -7px;
  padding-bottom: 120px;
}

.ac{
	opacity:.1;
}
#bottomContainer{
	margin-top: 80px;
	margin-left: 100px;
}
.dimnessIcon{
	width:10px;
	height:10px;
	display:inline;
	float:left;
	margin-top:40px;
	margin-left:110px;
	margin-right:5px
}

.brightnessIcon{
	width:10px;
	height:10px;
	display:inline;
	float:left;
	margin-top:39px;
	margin-left:7px;
}

.toggle-alternate{
	width: 11.48em  !important;
}
.toggle-bg{
	height: 5em !important;
}
.switch{
	height: 4.9em;
	width: 4.9em;
}

.toggle-alternate input ~ :checked ~ .switch {
  left: 6.4em !important;
}
.toggle-alternate label {
  font-size: 2.4em !important;
}

.switch-group{
	height: 4.9em !important;
  	
	width: 4.9em !important;
}

#groupToggle{
	  width: 15.48em !important;
}

.toggle-bg input:checked ~ .switch-group {
  left: 10.4em !important;
}
.toggle-alternate input ~ :checked ~ .switch-group{
	left: 0em !important;
}
}