#contentDiv{
	max-height: 500px;
	width:800px;
}
#lightControllerDiv{
	text-align:center;
	float:left;
	margin-bottom:10px;

}
.lightInfoDiv{
	margin: 10px;
	background-color: grey;
	padding:5px;
	padding-top: 5px;
	padding-bottom: 29px;
	width: 262px;
}
.lightInfoDivCollapsed{
	margin: 10px;
	margin-bottom: 9px;
	background-color:grey;
	padding-top: 17px;
	padding: 5px;
	width: 262px;
	padding-bottom: 12px;
}
.lightName{
	font-weight:bold;
	font-size: 20px;
	/* -webkit-text-stroke: 1px white; */
	padding: 4px;
	width: 200px;
	margin:0px auto;
	margin-top: 0px;
	/* border-radius: 34px; */
	color: white;
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
#lightDashboardTitle{
	font-weight:bold;
	color:white;
	margin-top:10px;
	padding: 5px;
	text-align:center;
}
input.lightSwitchLabel{
	margin:5px;
}
.lightState{
	min-height: 36px;
}
.lightStateCollapsed{
	/* min-height: 50px; */
}
colorPanel, .lightStateCollapsed>div{
	visibility: hidden;
}

.lightSwitch{
	float:left;
	margin-left: 60px;
	margin-top: 24px;
}
.groupSwitch{
	float:left;
	margin-left: 21px;
	margin-top: 24px;
}
.colorWheel{
	position:relative;
	bottom:32px;
	left:80px;
	vertical-align:middle; 
	height:30px;
	width:30px;
}
.colorWheel:hover .colorpicker{
	background-color: green;
    margin-left: 220px;
    width:400px;
    position: absolute;
    color:black;
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

.allOff {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:40px;
	line-height:40px;
	width: 84px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	margin-bottom:15px;
	margin-top:15px;
	cursor: pointer;
	float:left;
	margin-left: 27px;
}
.allOff:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.allOff:active {
	position:relative;
	top:1px;
}

.colorPanel{
   border: 3px solid darkgrey;
   /* background-color: lightgrey; */
   float:left;
   margin-top:15px;
   margin-left: 23px;
   /* padding: 5px; */
   padding-right:0px;
   /* width: 239px; */
   overflow:auto;
   /* border-radius: 18px; */
}

.swatch{
	width: 29px;
    
	height: 29px;
    
    
	/* border-radius:3em; */
    float:left;
    
	/* margin:2px; */
    
	/* margin-right:5px; */
    cursor: pointer;
    display:block;
	/* margin-right: 0px; */
}
.swatch:hover{
	border:2px solid black;
}

.red{
	background-color: red;
}
.orange{
	background-color: #FFA500;
}
.yellow{
	background-color: #FFFF00;
}
.green{
	background-color: #00FF00;
}
.blue{
	background-color: #0000FF;
}
.purple{
	background-color: #FF00FF;
}
.white{
	background-color: white;
}
.wakeup{
	height: 50px;
	width: 50px;
	display:block;
	margin:0px auto;
	cursor:pointer;
	float:left;
	margin-top:8px;
	margin-left:29px;
	padding-left:9px !important;
}

.videoStream{
	margin-top:15px;
}

.colorIcon{
	cursor:pointer;
	margin-left: 25px;
	float: left;
	margin-top: 8px;
	padding:3px 5px !important;
}
.colorIconImg{
	height:40px;
	width:40px;
}

.btn{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	border-radius:30px !important;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.btn:active {
	position:relative;
	top:1px;
}

.bulb{
	height: 67px;
	width: 80px;
	margin-top: 0px;
}

brightSlider, .lightStateCollapsed>div{
	visibility: hidden;
}

.brightSlider{
	float:left;
	overflow:auto;
	margin-top:5px;
	max-width: 200px;
	margin-left: 28px;
}