<!DOCTYPE html>
<html ng-app="lightApp">
<head>
	<title>Light Dashboard</title>
	<meta name="viewport" content="width=device-width, user-scalable=yes">
	<link rel="stylesheet" href="/stylesheets/iosslider.css">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-cloak>	
	<div class="siteContainer">
		<div class="firstHeader">Phillips Hue</div>
		<div id="contentDiv" ng-controller="LightController">
			<div id="lightControllerDiv">
				<div class="lightInfoContainer" ng-init="getLightsInfo()" >
				  	<div ng-class="isCollapsed ? 'lightInfoDivCollapsed' : 'lightInfoDiv'"  ng-repeat="light in lightResponse">
				  		<div class="lightName">
				  	     {{light.Name}}
				  		</div>
				  		<img class="bulb" ng-src="images/{{light.ColorName}}.gif"/>
				  		<light toggle-Light="toggle" model="light" class="lightSwitch"></light>
						<div ng-class="isCollapsed ? 'lightStateCollapsed' : 'lightState'">
					    	 <colorpicker set-color="toggle" model="light" lightid="{{light.lightid}}"></colorpicker>
				    		 <brightness set-color="toggle" model="light" lightid="{{light.lightid}}"></brightness>
			    		</div>
			    	</div>
			    	<group viewgroupstate="groupstate" toggle-Light="toggle" class="groupSwitch" ng-init="isAuthenticated()"></group>
			    	<div ng-click="isCollapsed = !isCollapsed" class="btn colorIcon">
		   				<img src="images/colorpicker.png" class="colorIconImg"/>
		   			</div>
		    	</div>
		    </div>
		</div>  
	</div>
	<div class="siteContainer">
	 	<div class="secondHeader">WeMo</div>
		<div ng-controller="LightController" style="float:left">
		    <wemo ng-init="getWemoInfo()" model="wemoResponse" toggle="switchState"></wemo>
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.3/socket.io.min.js"></script>
    <script src="/javascripts/lightdirective.js"></script>
    <script src="/javascripts/wemodirective.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/socketFactory.js"></script>
    <script src="/javascripts/lightController.js"></script>
</body>
</html>

<!--
this is insane

page rendered and socket events populate reponse from API and bind to view, rendering the brightness directive.
Ng-init sets a variable called dimmerValue to the current model.Brightness of each light.
Dragging the slider causes ng-model to bind the value of the slider to the variable dimmerValue.
On mouse up, the API passed the new dimmerValue that the user chooses.
The socket events then detect a change in the response versus what is rendered in the DOM, binds the updated json to the view.
The change in the binded view model causes the brightness directive to re-render.
This re-rendering calls ng-init again, and the flow is repeated with the dimmerValue variable now containing the new model brightness.

-->