   <div class="colorPanel">
	<div class="swatch red" ng-model="model.Brightness" ng-click="setColor(lightid,'off',0,model.Brightness,255,'')"></div>
		<div class="swatch orange" ng-model="model.Brightness" ng-click="setColor(lightid,'off',9000,model.Brightness,255,'')"></div>
		<div class="swatch yellow" ng-model="model.Brightness" ng-click="setColor(lightid,'off',17750,model.Brightness,255,'')"></div>
		<div class="swatch green" ng-model="model.Brightness" ng-click="setColor(lightid,'off',25718,model.Brightness,255,'')"></div>
		<div class="swatch blue" ng-model="model.Brightness" ng-click="setColor(lightid,'off',46920,model.Brightness,255,'')"></div>
		<div class="swatch purple" ng-model="model.Brightness" ng-click="setColor(lightid,'off',50000,model.Brightness,255,'')"></div>
		<div class="swatch white"  ng-model="model.Brightness" ng-click="setColor(lightid,'off',0,model.Brightness,0,'')"></div>
 	</div> 	