   <div class="colorPanel">
		<div class="swatch red" ng-click="setColor(lightid,\off\,0,255,255,\\)"></div>
		<div class="swatch orange" ng-click="setColor(lightid,\off\,9000,255,255,\\)"></div>
		<div class="swatch yellow" ng-click="setColor(lightid,\off\,17750,255,255,\\)"></div>
		<div class="swatch green" ng-click="setColor(lightid,\off\,25718,255,255,\\)"></div>
		<div class="swatch blue" ng-click="setColor(lightid,\off\,46920,255,255,\\)"></div>
		<div class="swatch purple" ng-click="setColor(lightid,\off\,50000,255,255,\\)"></div>
		<div class="swatch white" ng-click="setColor(lightid,\off\,0,255,0,\\)"></div>
 	</div> 	